<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="content-nav-hide bg-gradient p-4">
      <h5 class="text-white h4">Más contenido</h5>
      <span class="text-muted">Próximamente...</span>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a href="/beta" class="navbar-brand">Bolívar Paralelo (beta)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <input type="date" id="get_date_history">
          <label class="btn btn-outline-dark" for="get_date_history">
            <span id="calendar_text">Buscar fecha </span>
            <img alt="calendar icon" src="/icons/calendar_icon_white.png" width="25" height="25">
          </label>
        </li>
        <li class="nav-item px-2">
        </li>
      </ul>
  </nav>
</div>


<div id="body" class="px-2">

  <div class="d-flex justify-content-center update-time py-1">
    <div class="px-2">Actualizado hace <%= data[:time] %></div>
  </div>

  <div id="content" class="d-flex justify-content-center flex-wrap">

    <div class="d-flex justify-content-center flex-wrap flex-row">
      <div class="align-self-center"><div class="monto-label">        <%= data[:rates][:primary][:denominator] %>:</div></div>
      <div class="align-self-center"><div class="monto px-2 px-md-4" id="top-monto"> <%= data[:rates][:primary][:rates][:avg] %></div></div>
      <div class="align-self-center"><div class="monto-label">        <%= data[:rates][:primary][:numerator] %></div></div>
    </div>

    <div class="chart-container" style="position: relative; width: 100%">
      <canvas id="myChart" height="150"></canvas>
    </div>

    <div class="d-flex justify-content-center flex-wrap flex-row">
      <div class="align-self-center"><div class="monto-label">        <%= data[:rates][:secondary][:denominator] %>:</div></div>
      <div class="align-self-center"><div class="monto px-2 px-md-4"> <%= data[:rates][:secondary][:rates][:avg] %></div></div>
      <div class="align-self-center"><div class="monto-label">        <%= data[:rates][:secondary][:numerator] %></div></div>
    </div>

  </div>
</div>

<nav class="navbar d-flex justify-content-between fixed-bottom">
  <div></div>
  <a class="navbar-brand">Bitcoin: <%=data[:rates][:bitcoin][:rates][:avg]%> $</a>
  <div>
    <a href="https://twitter.com/bolivarparalel0">
      <img alt="twitter icon" src="/icons/Twitter_Social_Icon_Circle_White.png" width="40" height="40">
    </a>
    <a href="https://github.com/madacol/bolivarparalelo">
      <img alt="github icon" src="/icons/GitHub-Mark-Light-64px.png" width="40" height="40">
    </a>
  </div>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js" integrity="sha256-VrmtNHAdGzjNsUNtWYG55xxE9xDTz4gF63x/prKXKH0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" integrity="sha256-CfcERD4Ov4+lKbWbYqXD6aFM9M51gN4GUEtDhkWABMo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha256-eVNjHw5UeU0jUqPPpZHAkU1z4U+QFBBY488WvueTm88=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.6.5/chartjs-plugin-zoom.min.js" integrity="sha256-k0Fr3hF/rwwdJqnYU9v2CfgwZVEKGc8z84JtZemm5bQ=" crossorigin="anonymous"></script>
<script>

  function numberWithCommas(x) {    // https://stackoverflow.com/questions/2901102/how-to-print-a-number-with-commas-as-thousands-separators-in-javascript
      var parts = x.toString().split(".");
      parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
      return parts.join(",");
  }

  function getHumanRate(rate) {
    var num_digits = Math.log(Math.round(rate)) * Math.LOG10E + 1 | 0;  // https://stackoverflow.com/questions/14879691/get-number-of-digits-with-javascript
    if (num_digits < 4) {
      temp_scaling_factor = 10**(4-num_digits)
      rate = Math.round( rate*temp_scaling_factor ) / temp_scaling_factor;
    } else {
      rate = Math.round(rate);
    }
    return numberWithCommas(rate)
  }

  date_input = document.getElementById('get_date_history')
  date_input.onchange = function() {
    day_ms = 1000*3600*24
    fetch("/api/rate/ves/usd/time/"+String(date_input.valueAsNumber)+"/"+String(date_input.valueAsNumber+day_ms) )
    .then(function(response) {
      return response.json();
    })
    .then(function(myJson) {
      rates = myJson.rates
      sum = 0;
      data = [];
      for (hourstamp in rates) {
        avg = parseFloat( rates[hourstamp].avg )
        timestamp = rates[hourstamp].unix_time_ms
        sum += avg;
        data.push ({
          "x": timestamp,
          "y": avg.toFixed(2),
        });
      }
      avg = sum / Object.values(rates).length;
      document.getElementById('top-monto').innerHTML = getHumanRate(avg);
      chart.data.datasets[0].data = data;
      chart.resetZoom();
      document.getElementById('calendar_text').innerHTML = date_input.value;

    });
  }

  moment.locale('<%=data[:lang]%>')
  var ctx = document.getElementById('myChart').getContext('2d');
  var data = {
    datasets: [{
      borderColor: '#003b68',
      data: <%= JSON.unparse data[:chart][:data] %>,
    }],
  }

  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: data,

    // Configuration options go here
    options: {
      legend: {display: false},
      maintainAspectRatio: false,
      tooltips: {
        mode: 'nearest',
        intersect: false
      },
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            displayFormats: {
              hour: 'ddd hA',
            },
            tooltipFormat: 'MMM DD HH:mm',
          },
        }]
      },
      pan: {
        enabled: true,
        mode: 'x'
      },
      zoom: {
        enabled: true,
        mode: 'x',
      },
    }
  });
</script>