<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="content-nav-hide bg-gradient p-4">
      <h5 class="text-white h4">Más contenido</h5>
      <span class="text-muted">Próximamente...</span>
    </div>
  </div>
  <nav class="navbar navbar-dark">
    <a class="navbar-brand">Bolívar Paralelo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>


<div id="body" class="px-2">
  <div class="text-center update-time py-1">Actualizado: <%= data[:time] %></div>

  <div id="content" class="d-flex justify-content-center">

    <div class="d-flex justify-content-center flex-wrap flex-row">
      <div class="align-self-center"><div class="monto-label">        <%= data[:rates][:primary][:denominator] %>:</div></div>
      <div class="align-self-center"><div class="monto px-2 px-md-4"> <%= data[:rates][:primary][:rates][:avg] %></div></div>
      <div class="align-self-center"><div class="monto-label">        <%= data[:rates][:primary][:numerator] %></div></div>
    </div>

    <div class="chart-container" style="position: relative; width: 100%">
      <canvas id="myChart" height="150"></canvas>
    </div>

    <div class="d-flex justify-content-center flex-wrap flex-row">
      <div class="align-self-center"><div class="monto-label">        <%= data[:rates][:secondary][:denominator] %>:</div></div>
      <div class="align-self-center"><div class="monto px-2 px-md-4"> <%= data[:rates][:secondary][:rates][:avg] %></div></div>
      <div class="align-self-center"><div class="monto-label">        <%= data[:rates][:secondary][:numerator] %></div></div>
    </div>

  </div>
</div>

<nav class="navbar d-flex justify-content-center fixed-bottom">
  <a class="navbar-brand">Bitcoin: <%=data[:rates][:bitcoin][:rates][:avg]%> $</a>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var data = {
    labels: <%= data[:chart][:labels] %>,
    datasets: [{
      borderColor: '#003b68',
      data: <%= data[:chart][:rates] %>,
    }]
  }
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: data,

    // Configuration options go here
    options: {
      legend: {display: false},
      maintainAspectRatio: false,
      tooltips: {
      mode: 'nearest',
      intersect: false
      }
    }
  });
</script>